* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 40px;
    color: lightcoral;
    text-align: center;
}
table {
    margin-top: 60px;
}
